# Build artifacts
build/
build-*/
build_prod/
out/
tmp/
*.obj
*.o
*.lib
*.exe
*.dll
*.pdb
*.ilk
*.log

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
*.vcxproj
*.vcxproj.filters
*.sln

# Qt
*_autogen/
moc_*.cpp
moc_*.cpp.d
*.qm

# Visual Studio
.vs/
*.user
*.suo
*.sdf
*.opensdf

# IDE
.vscode/
.idea/
.clangd

# OS
.DS_Store
Thumbs.db

compile_commands.json
CMakeSettings.json

.venv/
ggml_env/
.exrc
.cache
.stablelm
.gpt-2

src/arm_neon.h
tests/arm_neon.h

zig-out/
zig-cache/

*.d
*.dot

*.sw?

__pycache__/

# Model files
models/
models-mnt
ggml-model-f16.bin
*.bat

*.gguf
